.center {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.todolist{
    width: 50%;
}

.icon {
    font-size: 2rem;
}

.icon:hover {
    cursor: pointer;
}

.containerIcon {
    position: relative;
    bottom: 90px;
    right: 10px;
    margin-left: 450px;
}