body {
    background-color: lightgrey;
}

.wrapper {
    max-width: 90vw;
    height: auto;
    margin: 0px auto;
}
.wrapper-background {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../images/banner.jpg);
    width: 90vw;
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    -webkit-filter: blur(1.5px);
}

.text {
    position: absolute;
    top: 95px;
    width: 50vw;
    left: 350px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.text a {
    text-decoration: none;
    color: white;
    font-family: Vollkorn;
    font-size: 40px;
}

#homebutton img{
    top: 50px;
    margin-left: 80px;
    width: 7vw;
    height: 13vh;
    position: absolute;
}
.wrapperbar {
    background-color: #0A0909;
    height: 8vh;
    width: 90vw;
    margin: 0px auto;
}
.location {
    color: white;
    font-family: Vollkorn;
    font-size: 25px;
    padding: 20px;
    left: 100px;
    position: absolute;
}

.maincontent {
    height: auto;
    width: 90vw;
    background-color: white;
    margin: auto;
}

.header {
    padding: 50px;
    font-family: Vollkorn;
    font-size: 40px;
}

.footer {
    width: 90vw;
    height: 5.5vh;
    margin: 0px auto;
    background-color: #14213D;
    color: white;
    text-align: center;
}

.footer p{
    padding: 5px;
    font-family: Vollkorn;
    font-size: 24px;
}

#date {
    color: white;
    right: 105px;
    padding: 20px;
    font-size: 25px;
    position: absolute;
}

#teams {
    width:auto;
    height:auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    overflow-y: auto;
}
