.button-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}
.buttons {
    background-color: rgb(75, 211, 21);
    padding: 25px;
    margin: 15px;
    border-style: none;
    color: white;
}

.buttons:hover {
    cursor: pointer;
    background-color: rgb(20, 136, 20);
}

.content li {
    background-color: rgb(27, 105, 27);
    padding: 20px;
    margin: 5px;
    color: white;
    font-family: sans-serif;
}

.content li:hover {
    cursor: pointer;
    background-color: rgb(23, 90, 23);
}